body {color: black; background: #FAFBFD; margin: 0; padding: 0;}
table {width: 100%; margin: 5; padding: 5; font-size: small}
table td {padding: 0; border-width: 0; vertical-align: top; font-family:
Verdana, Arial, Helvetica, sans-serif;}
a {color: #31609A; text-decoration: none; font-weight: bold;
background-color: transparent;}
a:hover {color: #2E7FD3;}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #2F5376}
input.formButton {}



.item {border: 1px solid #31609A;}
.itemHead {padding: 3px; background-color: #9CC3F3; color: #31609A;}
.itemInfo {text-align: right; padding: 3px; background-color: #E2EBF6}
.itemTitle a {font-size: 120%; font-weight: bold;  color: #31609A; background-color: transparent; font-family: Verdana}
.itemPoster {font-size: 80%; font-style:italic;}
.itemPostDate {font-size: 80%; font-style:italic;}
.itemStats {font-size: 80%; font-style:italic;}
.itemBody {padding-left: 5px; border-top: 1px solid #31609A}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 140%;}
.itemFoot {text-align: right; padding: 3px; background-color: #E2EBF6}
.itemAdminLink {font-size: 80%;}
.itemPermaLink {font-size: 80%;}

th {background-color: #2F5376; color: #FFFFFF; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif;}

td#headerbanner {width: 100%; background-color: #E2EBF6; vertical-align: middle; text-align:right;}
td#headerbar {border-bottom: 1px solid #2F5376; background:#E2EBF6; height:1px}

td#leftcolumn {width: 170px; border-right: 1px solid #2F5376; font-size:12px;}
td#leftcolumn th {background-color: #2F5376; color: #FFFFFF; vertical-align: middle;}
td#leftcolumn div.blockTitle {padding: 3px; background-color: #CEE3F2; color: #2E598F; font-weight: bold; border-bottom: 1px solid #2E7FD3;border-top: 2px solid #2E7FD3;font-size:115%}
td#leftcolumn div.blockContent {line-height: 120%; margin-top:0px;margin-bottom:5px; border-bottom: 0,1px solid #2E7FD3}


td#centercolumn {font-size: 12px;}
td#centercolumn th {background-color: #2F5376; color: #FFFFFF; vertical-align: middle;}
td#centerCcolumn {padding: 0px 3px 1px 3px;}
td#centerCcolumn legend.blockTitle {padding: 3px; color: #2F5376; font-weight: bold; margin-top: 0px; margin-right: 0px; margin-left: 0px;}
td#centerCcolumn div.blockContent {border-left: 1px solid #2F5376; border-right: 1px solid #2F5376; border-bottom: 1px solid #2F5376; padding: 3px; margin-right: 0px; margin-left: 0px; margin-bottom: 2px; line-height: 120%;}
td#centerLcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerLcolumn legend.blockTitle {padding: 3px; color: #639ACE; font-weight: bold; margin-top: 0px;}
td#centerLcolumn div.blockContent {border-left: 1px solid #2F5376; border-right: 1px solid #2F5376; border-bottom: 1px solid #2F5376; padding: 3px; margin-left: 3px; margin-right: 2px;
margin-bottom: 2px; line-height: 120%;}
td#centerRcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerRcolumn legend.blockTitle {padding: 3px; color: #2F5376; font-weight: bold; margin-top: 0px;}
td#centerRcolumn div.blockContent {border-left: 1px solid #2F5376; border-right: 1px solid #2F5376; border-bottom: 1px solid #2F5376; padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 120%;}

div#content {text-align: left; padding: 5px;}

td#rightcolumn {width: 170px; border-left: 1px solid #2F5376; font-size:12px;}
td#rightcolumn th {background-color: #2F5376; color: #FFFFFF; vertical-align: middle;}
td#rightcolumn div.blockTitle {padding: 3px; background-color: #CEE3F2; color: #2E7FD3; font-weight: bold; border-bottom: 1px solid #2E7FD3;border-top: 2px solid #2E7FD3;font-size:115%}
td#rightcolumn div.blockContent {line-height: 120%; margin-top:0px;margin-bottom:5px; border-bottom: 0,1px solid #2E7FD3;margin-left:3px}

tr#footerbar {text-align:center; background-image: url(hbar.gif);}

td#mainmenu a {background-color: #E4EBF4; display: block; margin: 0; padding: 4px; color:#2E7FD3}
td#mainmenu a:hover {background-color: #DEEEFE; margin-left: 3px; }
td#mainmenu a.menuTop {padding-left: 2px; border-top: none; border-right: 1px solid #2E7FD3; border-bottom: 1px solid #2E7FD3; border-left: 1px solid #2F5376; border-right: 0px solid #2F5376}
td#mainmenu a.menuMain {padding-left: 4px; border-bottom: 1px solid #2E7FD3; border-left: 1px solid #2F5376; border-bottom: 1px solid #2E7FD3;}
td#mainmenu a.menuSub {padding-left: 10px; border-bottom: 1px solid #2E7FD3; border-left: 1px solid #2F5376; border-bottom: 1px dotted #2E7FD3;}

td#usermenu a {background-color: #E4EBF4; display: block; margin: 0; padding: 4px; border-right: 1px solid #2E7FD3; border-bottom: 1px solid #2E7FD3; border-left: 1px solid #2F5376; border-right: 0px solid #2F5376; color: #2E7FD3}
td#usermenu a:hover {background-color: #DEEEFE; margin-left: 3px; border-right: 0px solid #2F5376}
td#usermenu a.menuTop {border-top: none; border-bottom: 1px solid #2E7FD3; border-right: 0px solid #2F5376}
td#usermenu a.highlight {background-color: #fcc; }



.outer {border: 2px solid #2E7FD3;}
.head {background-color: #80C2F1; padding: 5px; font-weight: bold;}
.even {background-color: #D2DBE7; padding: 5px;}
.odd {background-color: #E9E9E9; padding: 5px;}
.foot {background-color: #80C2F1; padding: 5px; font-weight: bold;}
tr.even td {background-color: #B8D7EE; padding: 5px;}
tr.odd td {background-color: #CEE3F2; padding: 5px;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99;text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}
div.xoopsQuote { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}


.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #2F5376; font-weight:bold; border: 1px solid silver; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #2F5376;font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}